// animations
.hello {
  position: relative;
  opacity: 1;
  top:-20px;
  color: black;
}

.hello-intro {
  opacity: 0;
  transition: opacity 2s;
}

// index styles
.music-page-container {
  overflow-x: hidden;
}

.album-title, .video-title {
  font-size: 44px;
  padding-bottom: 13px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.video
,.album
 {
  width: 260px;
  /* padding-top: 10vh; */
}

.rectangle {
  position: relative;
  display: inline-block;
  background-color: rgb(85, 170, 160);
  width: 8px;
  height: 35px;
  right: 25px;
  top: 3px;
}

.title-container-1 {
  margin-top: 5.5vh;
}

.title-container-2 {
  margin-bottom: 10px;
}

.title-container-1, .title-container-2 {
  height: 70px;
}

.title-container-1, .title-container-2 {
  min-width: 320px;
}

.title-container-1, .title-container-2, .album-title, .video-title {
  display: inline-block;

}

.music-color-underlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -10000;
  background: #1c1820;
}

@media (max-width: 767.98px) {
  .background {
    min-height: 900px;
  }
}


// NavMenu stlyes

.nav-container{
  top: -40px;
  position: absolute;
  z-index: 1000;
}

ul.menu-buttons {
  position: relative;
  font-size: 40px;
  line-height: 1.2;
  list-style-type: none;
}

.nav-icon {
  color: #a4955c;
  font-size: 20.5px;
}

.nav-icon:hover {
  color: #7d7246;
}

.shadow {
  text-shadow: 4px 4px 5px rgb(40, 39, 39, 0.2);
}

ul.menu-buttons > li > * {
  color: #E0DCE0;
}

ul.menu-buttons > li > *:hover {
  color: grey;
}

.menu-buttons {
  min-width: 150px;

}

.menu-buttons  > * {
  /* font-family: 'Greycliff-Regular'; */
}

.nav-rectangle {
  position: relative;
  display: inline-block;
  background-color: rgb(85, 170, 160);
  width: 8px;
  height: 35px;
  right: 35px;
  top: 3px;
  vertical-align: baseline;
  margin-right: -15px;
}

#header {
  margin-top: 23.75vh;
  line-height: 0.659;
  letter-spacing: -1px;
  position: relative;
  /* background: darkorange; */
  height: 205px;
}

#header > #intro {
  position: relative;
  top: -110px;
  /* opacity: 0; */
}

#header > * {
  font-size: 113px;
  font-family: 'Cardo', serif;
  z-index: 1000;
}

#header, .album-title, .video-title {
  font-family: 'Cardo', serif;
  color: #e0dce0;
}

@media (max-width: 1199.98px) {
  #header {
    font-size: 94px;
    top: 0;
  }
  ul.menu-buttons {
    font-size: 40px;
  }
}

.facebook, .instagram, .youtube, .apple, .spotify, .googlePlay, .soundcloud {
  display: inline-block;
  color: #a4955c;
  font-size: 20.5px;
  margin-right: 20px;
  margin-bottom: 100px;
}

.purchase{
  display: inline-block;
  color: #a4955c;
  position: relative;
  font-size: 16px;
  top: -100px;
  font-family: 'Greycliff-Regular'
}
.icons {
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
  opacity: 0;
}

.email {
  color: dimgray;
  position: fixed;
  bottom: 0;
  left: 20px;
}

.email > p {
  font-family: 'Greycliff-Regular';
}


a.email:hover {
  color: #e0dce0;
}

@media (max-width: 767.5px) {
  .nav-container{
    display: none;
  }
}

// Event styles
.date > p, .venue > p, .location > p {
  /* font-family: 'Greycliff-Regular'; */
  letter-spacing: -0.35px;
}

.date > p, .location > p {
  font-size: 16px;
}

.venue > p {
  font-size: 40px;
  line-height: 0.3;
  font-family: 'Greycliff-Regular';

}

.events-section {
  padding: 60px 0px 0px 0px;
  border: 10px solid white;
  background: #1c1820;
  min-height: 100vh;
  color: #e0dce0;
  line-height: 24px;
  /* font-family: 'Greycliff-Regular' */
}

.events-banner {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 47px;
  height: 100px;
  color: #e0dce0;
  font-family: 'Greycliff-Medium';
}

.location {
  margin-top: -20px;
}

.venue {
  font-size: 39px;
}

.button, .mobile-button {
  background: #1c1820;
  border: 2px solid #e0dce0;
  border-radius: 5px;
  width: 155px;
  height: 36px;
  color: #e0dce0;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Greycliff-Regular';

}

.button {
  background: #1c1820 !important;
  color: #e0dce0 !important;
}

.button:hover {
  background: #e0dce0 !important;
  color: #1c1820 !important;
  border-color: #1c1820 !important;
}


@media (max-width: 767.98px) {
  .events-banner {
    writing-mode: horizontal-tb;
    height: 100px;
  }

}

@media (min-width: 576px) {
  .mobile-button {
    display: none !important;
  }
}

@media (max-width: 575.98px) {
  .vertical-center {
    display: none;
  }
}

.vertical-center {
  height: 100%;
}

// Art syles
.image-list {
  opacity: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0 10px;
  grid-auto-rows: 10px;
  padding: 10px;
  text-align: center;
}

.image-list img {
  width: 250px;
  grid-row-end: span 2;
}

.art-color-underlay {
  background: #432e59;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.background-color {
  width: 100vw;
  height: 100%;
  background: #1c1820;
  z-index: -10000;
  position: absolute;
}

@media (max-width: 767.98px) {
  body {
    background: #1c1820;
  }
}

.etsy-button {
  margin-top: 50px;
}

// Acting Page
.reel-box {
  height: 100%;
  width: 191.5%;
  background: #71bcc2;
  position: absolute;
  display: block;
  left: -50%;
}
.reel {
  margin-top: 20px;
  margin-bottom: 20px;
}
.acting-color-underlay{
  width: 100vw;
  height: 100vh;
  background: #3e788e;
  z-index: -10000;
  position: fixed;
}

#bio-button {
  position: absolute;
  right: 0;
  top: 20%;
  transform: translateX(50%);
  height: 55px;
  width: 55px;
  border-radius: 100px;
  background: #6d3e8e;
  border: 0px;
}

#bio-button:hover {
  background: #714d8b;
}

body {
  overflow-x: scroll;
}

@media (max-width: 767.98px) {
  body {
    background: #3e788e;
    overflow-x: hidden;
  }
}

// Music Player Style
.control-container {
  position: relative;
  top:  15px;
}
.player-container .info-and-control {
  width: 100%;
  height: 55px;
  background: #432e59;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}
.player-container .info-and-control .progress-container {
  width: 100%;
  height: 3px;
  cursor: pointer;
}
.player-container .info-and-control .progress-container .progress {
  height: 100%;
}
.music-control {
  position: relative;
  font-size: 18px;
  margin-right: 12px;
  cursor: pointer;
}
.track {
  position: relative;
  left: -30px;
  font-size: 16px;
  color:dimgray;
  cursor: pointer;
  font-family: 'Greycliff-Regular'
}
.title {
  font-size: 16px;
  font-weight: 400;
  top: -1px;
  position: relative;
}
.track:hover {
  color: #e0dce0;
}
.active {
  color: #e0dce0;
}
.inactive {
  color: dimgray;
}
.music-info {
  position: relative;
  top: -2px;
}
.controls {
  width: 100px;
}

// Lightbox style

#lightboxContainer {
  // background: cornflowerblue;
  z-index: 10000;
}

#lightboxContainer,
#lightboxBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

#lightboxBackground {
  position: fixed;
  opacity: 0.8;
  display: inline-block;
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 90000;
}

.activeImage
{
  position: fixed;
  left: 50%;
  top: 50%;
  transform:
    translateX(-50%)
    translateY(-50%);
}

.activeImage {
  position: relative;
  opacity: 1;
  z-index: 90000;
  width: 400px;
  text-align: center;

}
.chevronLeft, .chevronRight {
  color: white;
  font-size: 40px;
  z-index: 95000;
  cursor: pointer;
  position: fixed;
  top: 50%;
  transform:
    translateY(-50%);

}

.chevronLeft {
  left: 10%;
}

.chevronRight {
  right: 10%;
}


// Modal Style

.ant-input:focus, .ant-input:hover {
  border-color: #57a8e9;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(87,168,233, .2);
  box-shadow: 0 0 0 2px rgba(87,168,233, .2);
}


.ant-btn-primary {
  background: #57a8e9;
  border-color: #57a8e9;
}

.ant-btn-primary:hover {
  background: #4c93cd;
  border-color: #4c93cd;
  color: white;

}

.ant-btn:hover {
  color: #57a8e9;
  border-color: #57a8e9;
}

.ant-modal-body {
  border-top: 5px solid #a4955c;
  border-left: 5px solid #a4955c;
  border-right: 5px solid #a4955c;

}
.ant-modal-footer {
  border-bottom: 5px solid #a4955c;
  border-left: 5px solid #a4955c;
  border-right: 5px solid #a4955c;
}


